@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior:smooth;
}

body{
  font-family:'Poppins', sans-serif;
  background:#ffffff;
  overflow-x:hidden;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#291056;
  border-radius:20px;
}